<div id='container' class='container text-center' style='width: 450px;'>
  <h1>Weather in {{city}}</h1>
  <img src='{{img}}' alt='Error' id='img' />
  <p id='weather'>{{description}}</p>
  <p>Температура: <span class='temperature'>{{temperature}} °C </span></p>
  <p>Вологість: <span id='humidity'>{{humidity}} %</span></p>
  <p>Тиск: <span id='pressure'>{{pressure}} hPa</span></p>
  <button id='btn'><a href='/weather'>Back to Home</a></button>
</div>